@import "./styles/_font";
@import "./styles/_layers";
@import "./styles/_colors";
@import "./styles/_helpers";
@import "./components/Sidebar/Sidebar";
@import "./components/FileListItem/FileListItem";
@import "./components/UploadButton/UploadButton";
@import "./components/Snackbar/Snackbar";
@import "./components/Snackbars/Snackbars";

body {
  font-family: $font;
}

.app {
  display: flex;
  flex-direction: row;
}

.app__sidebar {
  flex: 1 0 $sidebar-width;
  max-width: $sidebar-width;
  height: 100vh;

  @media screen and(max-width: 1024px) {
    flex-basis: 0;
  }
}

.content {
  width: 100%;
  padding: rem(40) rem(80);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;

  @media screen and(max-width: 1024px) {
    padding: rem(10) rem(20);
  }
}

.content__head {
  display: flex;
  color: #2d1f3f;
  font-weight: bold;
  font-size: rem(41);
  align-items: center;

  & > span {
    display: inline-flex;
    height: rem(41);
    width: rem(41);
  }
}

.content__title {
  margin: 0 0 0 rem(24);
  font-size: rem(60);
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and(max-width: 1024px) {
    font-size: rem(40);
    text-align: center;
    width: 100%;
  }

  @media screen and(max-width: 768px) {
    font-size: rem(20);
    text-align: center;
  }
}

.content__article {
  margin-top: rem(50);
  line-height: 1.5;
  font-size: 1.2rem;
}

.page-pdf {
  overflow: auto;
}
